.blogSection {
  padding: 100px 0;
  max-width: 1440px;
  margin: 0 auto;
  border-top: 1px solid #f1e6e0;
  font-size: 18px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.header div p {
  color: #00a67d;
  font-weight: bold;
}

.title {
  font-size: 42px;
  color: #2e3d3e;
}

.viewAll {
  background-color: #062e32;
  color: #e2ffcf;
  padding: 22px 12px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
}

.articles {
  display: flex;
  justify-content: space-between;
}

.articleCard {
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  max-width: 459px;
  text-align: center;
  border: 1px solid #f1e6e0;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 16px;
}

.articleTitle {
  font-size: 26px;
  color: #062e32;
  margin-bottom: 8px;
  text-align: start;
}

.description {
  color: #3b5154;
  margin-bottom: 24px;
  text-align: start;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  color: #6a6a6a;
}

.footer div {
  display: flex;
  align-items: center;
}

.footer div img {
  border-radius: 50%;
}

.author {
  font-weight: 500;
  color: #2e3d3e;
}

.date {
  color: #a0a0a0;
}

@media screen and (max-width: 960px) {
  .articles {
    flex-direction: column;
    align-items: center;
  }

  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
