.caseStudySection {
  padding: 50px 0;
  background-color: #002d26;
  color: #d2f4e4;
  text-align: center;
}

.container {
  margin: 100px auto 64px auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: auto;
  max-width: 1439px;
}

.leftSide {
  text-align: start;
  max-width: 570px;
}

.rightSide {
  display: flex;
}

.rightSide button {
  border: none;
  background-color: #e2ffcf;
  color: #07373c;
  padding: 12px 22px;
  font-weight: bold;
  border-radius: 35px;
}

.container h2 {
  font-size: 42px;
  font-weight: bold;
  color: #e2ffcf;
}

.texts {
  min-height: 158px;
}

.caseStudySection p {
  font-size: 18px;
  line-height: 1.6;
  color: #d2f4e4;
}

.caseStudyContainer {
  display: flex;
  justify-content: center;
  gap: 0 32px;
  max-width: 1440px;
  margin: 0 auto;
}

.caseStudyCard {
  background-color: #004943;
  border-radius: 10px;
  padding: 22px 24px;
  max-width: 704px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.caseStudyImg {
  width: 100%;
  object-fit: cover;
  min-height: 489px;
  border-radius: 8px;
  margin-bottom: 22px;
}

.caseStudyCard h3 {
  font-size: 26px;
  margin-bottom: 8px;
  color: #e2ffcf;
}

.caseStudyCard p {
  font-size: 18px;
  margin-bottom: 40px;
  color: #bacfc2;
}

.caseStudyStats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  color: #b0eac4;
  border-top: 1px solid #e2ffcf;
  padding-top: 8px;
  margin-top: 70px;
}

.caseStudyStats div {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.learnMoreBtn {
  background-color: transparent;
  border: 2px solid #57dbac;
  color: #e2ffcf;
  padding: 17px 22px;
  font-size: 16px;
  border-radius: 35px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.learnMoreBtn:hover {
  background-color: #57dbac;
  color: #004943;
}

.viewAllBtn {
  background-color: #57dbac;
  color: #002d26;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.viewAllBtn:hover {
  background-color: #004943;
  color: #57dbac;
}

@media screen and (min-width: 361px) and (max-width: 960px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .caseStudyContainer {
    flex-direction: column;
  }

  .caseStudyStats {
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  .container {
    flex-direction: column;
    align-items: center;
    max-width: 320px;
  }

  .leftSide h2 {
    font-size: 28px;
    text-align: start;
  }

  .caseStudyContainer {
    flex-direction: column;
  }

  .caseStudyStats {
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
}
