.header {
  background-color: #062e32;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e2ffcf;
  height: 58px;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 9px;
}

.nav {
  display: flex;
  align-items: center;
  border: 1px #062e32 solid;
  width: 896px;
  height: 100%;
  padding: 0 36px;
  border-radius: 30px;
  background-color: #085254;
}

.logo {
  width: 54px;
  height: 41px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav li {
  position: relative;
}

.dropdown {
  display: flex;
  gap: 5px;
  background: none;
  border: none;
  color: #d5e8d4;
  font-size: 16px;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  left: -20%;
  background-color: #062e32;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdownMenu li {
  color: #d5e8d4;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdownMenu li:hover {
  background-color: #255b58;
}

.dropdownMenu.open {
  display: block;
  width: 276px;
  height: 464px;
}

.bookCallButton {
  background-color: transparent;
  color: #e2ffcf;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px #e2ffcf solid;
  cursor: pointer;
}

.burgerMenu {
  display: none;
}

@media screen and (max-width: 360px) {
  .header {
    padding: 0 5px;
  }
  .nav {
    display: none;
  }
  .bookCallButton {
    display: none;
  }
  .burgerMenu {
    display: block;
  }
  .logo {
    width: 28px;
    height: 21px;
  }
}
